@font-face {
font-family: 'GothamBook';
src: url('http://c3364805.r5.cf0.rackcdn.com/gotham-book-webfont.eot');
src: url('http://c3364805.r5.cf0.rackcdn.com/gotham-book-webfont.eot?iefix') format('eot'),
     url('http://c3364805.r5.cf0.rackcdn.com/gotham-book-webfont.woff') format('woff'),
     url('http://c3364805.r5.cf0.rackcdn.com/gotham-book-webfont.ttf') format('truetype'),
     url('http://c3364805.r5.cf0.rackcdn.com/gotham-book-webfont.svg#gotham-book-webfont') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'GothamMedium';
src: url('gotham-bold-webfont.eot');
src: url('http://c3364805.r5.cf0.rackcdn.com/gotham-medium-webfont.eot?iefix') format('eot'),
     url('http://c3364805.r5.cf0.rackcdn.com/gotham-medium-webfont.woff') format('woff'),
     url('http://c3364805.r5.cf0.rackcdn.com/gotham-medium-webfont.ttf') format('truetype'),
     url('http://c3364805.r5.cf0.rackcdn.com/gotham-medium-webfont.svg#gotham-medium-webfont') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'GothamBold';
src: url('http://c3364805.r5.cf0.rackcdn.com/gotham-bold-webfont.eot');
src: url('http://c3364805.r5.cf0.rackcdn.com/gotham-bold-webfont.eot?iefix') format('eot'),
     url('http://c3364805.r5.cf0.rackcdn.com/gotham-bold-webfont.woff') format('woff'),
     url('http://c3364805.r5.cf0.rackcdn.com/gotham-bold-webfont.ttf') format('truetype'),
     url('http://c3364805.r5.cf0.rackcdn.com/gotham-bold-webfont.svg#gotham-bold-webfont') format('svg');
font-weight: normal;
font-style: normal;
}



nav {
	margin:0;
	padding:0;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:40px;
	background:#fff url(../img/top-bar-gradient.jpg) top left repeat-x;
	text-align:right;
	list-style-type:none;
	z-index:2000;
}

.centerContainer {
	margin:0 auto;
	width:1000px;
}

#top {
	margin:0;
	padding:0;
	text-align:right;
	list-style-type:none
}

nav li {
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#666
}

nav li:last-child {
	padding-right:0;
}

nav li a, nav li a:link {
	display:inline-block;
	margin:0;
	padding:11px 9px 11px 20px;
	font-size:12px;
	color:#09f;
	text-decoration:none;
	background:transparent url(../img/top-nav-arrow.gif) 3px 13px no-repeat
}

nav li a:hover {
	text-decoration:underline
}

#nav{
	list-style:none;
	position:fixed;
	right:20px;
	z-index:500;
	margin: 0 30px 0 0;
	padding: 24px 0 0 0;
	width:171px;
	background:transparent url(../img/nav-background.png) top left no-repeat
}

#nav li, #nav div {
	margin:0;
	padding:0;
	margin-left:23px;
	width:148px;
}

#nav a:link, #nav a:visited {
	display:block;
	padding: 0 0 0 10px;
	font-family: GothamBold, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight:normal;
	color: #999;
	text-decoration: none;
	text-align: left;
	line-height: 38px;
	background: rgba(0,0,0,.1);
}

#nav a:hover {
	background: rgba(0,0,0,.33);
	color:#fff
}

#nav a.active, #nav a.active:hover  {
	background:#000;
	color: #fff;
	cursor: default
}

#nav .cta a:link, #nav div a:visited {
	display:block;
	margin-top:42px;
	padding: 0;
	color:#fff;
	background: #f90 url(../img/nav_cta.png) no-repeat top left;
	font-family: GothamBold, Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height: 47px;
	font-weight:normal;
	text-transform: uppercase;
	text-align:center;
	text-decoration:none;
	text-shadow:0 3px 3px rgba(0,0,0,.33);
}

#nav .cta a:hover {
	text-shadow:0 4px 4px rgba(0,0,0,.66);
}

.page {
	background: transparent 50% 0 no-repeat fixed;
	background-size: 100% auto;
	height: 1000px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0;
}
.content {
	font-size: 48px;
	margin: 0 auto;
	overflow: visible;
	color: #fff;
	padding: 40px 0 0 0;
	display: inline-block;
	position: relative;
	left: 50%;
	width: 650px;
}

.heading {
	margin-bottom:20px
}
.heading h1 {
	color: #000;
}

.page h1 {
	font-family: GothamMedium, Helvetica, Arial, sans-serif;
	font-size:48px;
	font-weight:500;
	text-transform:uppercase;
	line-height:43px;
	margin: 0;
}

.page h2 {
	font-family: GothamBold, Helvetica, Arial, sans-serif;
	font-size:22px;
	font-weight: normal;
	margin: 3px 0 8px 0;
}

.copy {
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#666;
	line-height:19px
}

/* intro */

#intro .heading {
	margin-top: 60px;
}

#intro h1 {
	width:600px
}

#intro h2 {
	width:600px;
	color:#f90
}

#intro .copy {
	padding-left:380px;
	width:240px;
	height:400px;
	background:transparent url(../img/devices.png) -30px 0 no-repeat
}

/* first */


#first h2 {
	color:#b93294
}

#first .copy p {
	width: 570px
}

#first .channelLineup {
	margin-top:40px;
	width:605px;
	height:75px;
	background: #fff url(../img/logos_hd.jpg) repeat-x left center;
	border:1px solid #ccc
}

/* second */

#second h1 {
	width:420px
}

#second h2 {
	width:600px;
	color:#f90
}

#second .copy {
	width:680px;
	height:250px;
	background:transparent url(../img/streaming-devices.png) 160px 0 no-repeat
}

#second .copy p {
	width: 270px
}

#second .copy p.caption {
	font-size:12px;
	width: 160px;
	margin:67px 0 0 110px;
	color:#999;
	line-height:14px
}

#second .channelLineup {
	margin-top:40px;
	width:605px;
	height:75px;
	border:1px solid #ccc;
	background: #fff url(../img/logos_hd.jpg) repeat-x left center;
}

/* third */

#third h1 {
	width:450px
}

#third h2 {
	width:600px;
	color:#6c0
}

#third h3 {
	margin-bottom:20px;
	font-family: GothamMedium, Helvetica, Arial, sans-serif;
	font-size:15px
}

#third .copy {
	width:680px;
	height:300px;
	background:transparent url(../img/on-demand-devices.png) 230px 0 no-repeat
}

#third .copy p {
	width: 270px
}

#third .copy p.caption {
	font-size:12px;
	width: 200px;
	margin:45px 0 0 277px;
	color:#999;
	line-height:14px
}

/* fourth */

.bg {
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 75%;
	background: 50% 0 repeat fixed;
}


/* fifth */

#fifth h1 {
	width:600px
}

#fifth h2 {
	width:600px;
	color:#f90
}

#fifth .copy {
	padding-left:380px;
	width:240px;
	height:400px;
	background:transparent url(../img/devices.png) -30px 0 no-repeat
}

#intro {
	
}
#intro .bg {
	
}
#first {
	background-image: url(../img/first-bg-trans.png);
}
#first .bg {
	
}
#second {
	background-image: url(../img/second-bg-trans.png);
}
#second .bg {
	
}
#third {
	background-image: url(../img/third-bg-trans.png);
}
#third .bg {
	
}
#fourth {
	background-image: url(../img/fourth-bg-trans.png);
}
#fourth .bg {
	
}
#fifth {
	
}
#fifth .bg {
	
}

/* RAINBOWS */

.rainbow-layer {
	position: relative;
	top: 0;
	left: 0;
	width: 980px;
	margin: 0 auto;
}
.rainbow-layer .rainbow1 {
	position: absolute;
	left: 692px;
    height: 110px;
}
.rainbow-layer .rainbow2 {
	position: absolute;
	top: 60px;
	left: 30px;
    width: 662px;
}
.rainbow-layer .rainbow3 {
	position: absolute;
	top: 0px;
	left: 30px;
    height: 1000px;
}
#intro .rainbow-layer .rainbow3 {
	top: 110px;
}

.rainbow-layer .rainbow1 .beam {
	float: right;
}
.rainbow-layer .rainbow2 .beam {
	float: right;
	clear: both;
	background-image: url(../img/rainbow_beam_shade_r.png);
	background-position: right top;
}
#intro .rainbow-layer .rainbow3 .beam {
	background-image: url(../img/rainbow_beam_shade_t.png);
	background-position: left top;
}

.beam {
	background-repeat: no-repeat;
}

.vert .beam {
    height: 1px;
    width: 5px;
    float: left;
}
.horz .beam {
    height: 5px;
    width: 0px;
}
.corner {
	position: absolute;
	z-index: 200;
}
.horz .corner {
	top: 0;
	left: 0;
}
.vert .corner {
	right: 0;
	bottom: 0;
}
.magenta { background-color: #b93294; }
.green { background-color: #7bc143; }
.yellow { background-color: #efea12; }
.red { background-color: #f16250; }
.lt-green { background-color: #ecf1b4; }
.blue { background-color: #1fa2dc; }
.orange { background-color: #f68933; }
.gold { background-color: #ffca0b; }
.lt-blue { background-color: #7ed1f4; }
.dk-green { background-color: #19ab4b; }

​