@font-face {
font-family: 'GothamBook';
src: url('../font/gotham-book-webfont.eot');
src: url('../font/gotham-book-webfont.eot?iefix') format('eot'),
     url('../font/gotham-book-webfont.woff') format('woff'),
     url('../font/gotham-book-webfont.ttf') format('truetype'),
     url('../font/gotham-book-webfont.svg#gotham-book-webfont') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'GothamMedium';
src: url('../font/gotham-medium-webfont.eot');
src: url('../font/gotham-medium-webfont.eot?iefix') format('eot'),
     url('../font/gotham-medium-webfont.woff') format('woff'),
     url('../font/gotham-medium-webfont.ttf') format('truetype'),
     url('../font/gotham-medium-webfont.svg#gotham-medium-webfont') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'GothamBold';
src: url('../font/gotham-bold-webfont.eot');
src: url('../font/gotham-bold-webfont.eot?iefix') format('eot'),
     url('../font/gotham-bold-webfont.woff') format('woff'),
     url('../font/gotham-bold-webfont.ttf') format('truetype'),
     url('../font/gotham-bold-webfont.svg#gotham-bold-webfont') format('svg');
font-weight: normal;
font-style: normal;
}

body {
	background: #333;
}

a, a:visited {
	color: #09f;
	text-decoration: none;
}

a:hover {
	color: #06e;
	text-decoration: underline;
}

.content .copy p.small {
	font-size: 10px;
	width: 400px;
	padding: 0;
	line-height: 12px;
}

nav.top {
	margin:0;
	padding:0;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:40px;
	background:#fff url(../img/top-bar-gradient.jpg) top left repeat-x;
	text-align:right;
	list-style-type:none;
	z-index:2000;
}

.centerContainer {
	margin:0 auto;
	width:1000px;
}

#top {
	margin:0;
	padding:0;
	text-align:right;
	list-style-type:none
}

nav.top li {
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#666
}

nav.top li:last-child {
	padding-right:0;
}

nav.top li a, nav.top li a:link {
	display:inline-block;
	margin:0;
	padding:11px 9px 11px 20px;
	font-size:12px;
	background:transparent url(../img/top-nav-arrow.gif) 3px 13px no-repeat
}

nav.top li a:hover {
	text-decoration:underline
}

nav.floating {
	position:fixed;
	z-index:500;
}

nav.floating ul {
	list-style:none;
	margin: 0 30px 0 0;
	padding: 24px 0 0 0;
	width:171px;
	background:transparent url(../img/nav-background.png) top left no-repeat
}

nav.floating li, nav.floating div {
	margin:0;
	padding:0;
	margin-left:23px;
	width:148px;
}

nav.floating a:link, nav.floating a:visited {
	display:block;
	padding: 0 0 0 10px;
	font-family: GothamBold, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight:normal;
	color: #999;
	text-decoration: none;
	text-align: left;
	line-height: 38px;
	background: rgba(0,0,0,.1);
}

nav.floating a:hover {
	background: rgba(0,0,0,.33);
	color:#fff
}

nav.floating a.active, nav.floating a.active:hover  {
	background:#000;
	color: #fff;
	cursor: default
}

nav.floating .cta a:link, nav.floating .cta a:visited {
	display:block;
	margin-top:37px;
	padding: 0;
	color:#fff;
	background: #f90 url(../img/sprite.png) no-repeat 0px -195px;
	font-family: GothamBold, Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height: 50px;
	font-weight:normal;
	text-transform: uppercase;
	text-align:center;
	text-decoration:none;
	text-shadow:0 3px 3px rgba(0,0,0,.33);
}

nav.floating .cta a:hover {
	text-shadow:0 4px 4px rgba(0,0,0,.66);
}

nav.floating .logo {
	margin-left: 16px;
}
nav.floating .logo a {
	margin: 50px 0 0 0;
	display: block;
	width: 151px;
	height: 61px;
	background: transparent url(../img/sprite.png) no-repeat 0 -60px;
}

.page {
	background: #fff 50% 0 no-repeat fixed;
	/*background-size: 100% auto;*/
	height: 1000px;
	width: 1000px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0;
	margin: 0 auto;
}
.content {
	font-size: 48px;
	margin: 0 auto;
	overflow: visible;
	color: #fff;
	padding: 40px 0 0 0;
	display: inline-block;
	position: relative;
	/*left: 50%;*/
	margin-left: 142px;
	width: 650px;
}

.heading {
	margin-bottom:20px
}
.heading h1 {
	color: #000;
}

.page h1 {
	font-family: GothamMedium, Helvetica, Arial, sans-serif;
	font-size:48px;
	font-weight:500;
	text-transform:uppercase;
	line-height:43px;
	margin: 0;
}

.page h2 {
	font-family: GothamBold, Helvetica, Arial, sans-serif;
	font-size:22px;
	font-weight: normal;
	margin: 3px 0 8px 0;
}

.copy {
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#999;
	line-height:19px
}

/* intro */

#intro .heading {
	margin-top: 80px;
}

#intro h2 {
	width: 600px;
	color: #7ac142
}

#intro .copy {
	position: relative;
	padding-left:365px;
	width:270px;
	height:400px;
}

#intro .copy .bg {
	position: absolute;
	top: 0;
	left: -28px;
	background: transparent url(../img/content-background-main.png) 0px 0px no-repeat;
	height: 331px;
	width: 453px;
}
.backgroundsize #intro .copy .bg,
.backgroundsize #fifth .copy .bg {
	background-size: 100%;
}
.no-backgroundsize #intro .copy .bg.modernized,
.no-backgroundsize #fifth .copy .bg.modernized {
	background: none;
}
.no-backgroundsize #intro .copy .bg img,
.no-backgroundsize #fifth .copy .bg img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.tootip {
	margin: 130px 0 0 0;
	float: right;
}

.tootip p {
	text-align: center;
	margin: 0 0 12px 0;
	font-size: 14px;
}

.tootip .arrow {
	background: transparent url(../img/sprite.png) no-repeat 0px -250px;
	width: 18px;
	height: 18px;
	margin: 0 auto;
}

/* first */


#first h2 {
	color:#b93294
}

#first .copy p {
	width: 570px
}

#first .channelLineup {
	position: relative;
	margin-top: 0px;
	width:605px;
	height:75px;
	border:1px solid #ccc;
	overflow: hidden;
}

#first .channelLineup .carousel_area {
	position: relative;
	width: 4182px;
	height:75px;
	background: #fff url(../img/logos_hd.jpg) repeat-x left center;
}


/* second */

#second h2 {
	color:#f90
}

#second .copy {
	background:transparent url(../img/streaming-devices.png) 160px 0 no-repeat
}

#second .copy p {
	width: 270px
}

#second .copy p.small {
	width: 550px
}

#second .copy p.caption {
	font-size:12px;
	width: 160px;
	margin:67px 0 0 110px;
	color:#999;
	line-height:14px
}

.carousel_header {
	font-weight: normal;
	font-size: 15px;
	margin: 25px 0 3px 0;
	width: 605px;
}

.carousel_header p {
	float: left;
	margin: 0;
}
.carousel_header a {
	float: right;
}

#second .channelLineup {
	position: relative;
	width:605px;
	height:75px;
	border:1px solid #ccc;
	background: white;
}

.carousel_advance {
	position: absolute;
	top: 0;
	display: block;
	width: 30px;
	height: 75px;
	background: #fff url(../img/sprite.png) no-repeat;
}
.carousel_advance.left {
	left: 0;
	background-position: 0px -120px;
}
.carousel_advance.right {
	left: 575px;
	background-position: -30px -120px;	
}

#second .channelLineup .carousel_area {
	position: absolute;
	overflow: hidden;
	height:75px;
	width: 545px;
	top: 0;
	left: 30px;
}
.carousel.apps .app_links {
	position: absolute;
	width: auto;
	left: 0px;
	white-space: nowrap;
	font-size: 0;
}

.carousel.apps .app_links a {
	display: inline-block;
	width: 60px;
	height: 60px;
	background: red;
	margin: 7px 15px;
	font-size: 24px;
	background: transparent no-repeat;
}
.multiplebgs .carousel.apps .app_links a {
	background-image: url(../img/sprite.png), url(../img/sprite.png), url(../img/sprite.png);
}
.no-multiplebgs .carousel.apps .app_links a {
	position: relative;
}
.no-multiplebgs .carousel.apps .app_links div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/sprite.png);
}
.no-multiplebgs .carousel.apps .app_links div.shape { background-position: -60px 0px; }
.no-multiplebgs .carousel.apps .app_links div.gleen { background-position: 0px 0px; }

.no-multiplebgs .carousel.apps .app_links a.btn2go div.logo		{ background-position: -120px 0px; }
.no-multiplebgs .carousel.apps .app_links a.cnn div.logo		{ background-position: -180px 0px; }
.no-multiplebgs .carousel.apps .app_links a.epix div.logo		{ background-position: -240px 0px; }
.no-multiplebgs .carousel.apps .app_links a.espn3 div.logo		{ background-position: -300px 0px; }
.no-multiplebgs .carousel.apps .app_links a.hbogo div.logo		{ background-position: -360px 0px; }
.no-multiplebgs .carousel.apps .app_links a.maxgo div.logo		{ background-position: -420px 0px; }
.no-multiplebgs .carousel.apps .app_links a.tbs div.logo		{ background-position: -480px 0px; }
.no-multiplebgs .carousel.apps .app_links a.tnt div.logo		{ background-position: -540px 0px; }
.no-multiplebgs .carousel.apps .app_links a.toon div.logo		{ background-position: -600px 0px; }
.no-multiplebgs .carousel.apps .app_links a.trutv div.logo		{ background-position: -660px 0px; }

.carousel.apps .app_links a.btn2go 			{ background-position: 0px 0px, -120px 0px, -60px 0px; }
.carousel.apps .app_links a.cnn 			{ background-position: 0px 0px, -180px 0px, -60px 0px; }
.carousel.apps .app_links a.epix 			{ background-position: 0px 0px, -240px 0px, -60px 0px; }
.carousel.apps .app_links a.espn3 			{ background-position: 0px 0px, -300px 0px, -60px 0px; }
.carousel.apps .app_links a.hbogo 			{ background-position: 0px 0px, -360px 0px, -60px 0px; }
.carousel.apps .app_links a.maxgo 			{ background-position: 0px 0px, -420px 0px, -60px 0px; }
.carousel.apps .app_links a.tbs 			{ background-position: 0px 0px, -480px 0px, -60px 0px; }
.carousel.apps .app_links a.tnt 			{ background-position: 0px 0px, -540px 0px, -60px 0px; }
.carousel.apps .app_links a.toon 			{ background-position: 0px 0px, -600px 0px, -60px 0px; }
.carousel.apps .app_links a.trutv 			{ background-position: 0px 0px, -660px 0px, -60px 0px; }

/* third */

#third h2 {
	width:600px;
	color:#6c0
}

#third h3 {
	margin-bottom:20px;
	font-family: GothamMedium, Helvetica, Arial, sans-serif;
	font-size:15px;
	color: #666;
}

#third .copy {
	width:680px;
	height:300px;
	background:transparent url(../img/on-demand-devices.png) 250px 0 no-repeat
}

#third .copy p {
	width: 270px
}

#third .copy p.caption {
	font-size:12px;
	width: 360px;
	margin:45px 0 0 297px;
	color:#999;
	line-height:14px;
}

.caption .small {
	font-size: 10px;
	line-height: 12px;
}

/* fourth */

.bg {
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 75%;
	background: 50% 0 repeat fixed;
}
#fourth h2 {
	color: #16a0d9;
}
#fourth .copy {
	height: 308px;
	background: transparent url(../img/content-background-fourth.png) 250px 0 no-repeat
}
#fourth .copy p {
	width: 245px;
}

/* fifth */

#fifth h2 {
	width: 600px;
	color: #7ac142
}

#fifth .copy {
	position: relative;
	padding-left:380px;
	width:240px;
	height:400px;
}

#fifth .copy .bg {
	position: absolute;
	top: 0;
	left: -30px;
	background: transparent url(../img/content-background-main.png) 0px 0px no-repeat;
	height: 351px;
	width: 480px;
	background-size: 100%;
}

.alt_services {
	width: 195px;
	margin: 140px 0 12px 0;
	float: right;
	font-size: 12px;
	line-height: 16px;
}
.alt_services a {
	display: block;
}

#intro {
	
}
#intro .bg {
	
}
#first {
	background-image: url(../img/first-bg-trans.png);
}
#first .bg {
	
}
#second {
	background-image: url(../img/second-bg-trans.png);
}
#second .bg {
	
}
#third {
	background-image: url(../img/third-bg-trans.png);
}
#third .bg {
	
}
#fourth {
	background-image: url(../img/fourth-bg-trans.png);
}
#fourth .bg {
	
}
#fifth {
	
}
#fifth .bg {
	
}

/* RAINBOWS */

.rainbow-layer {
	position: relative;
	top: 0;
	left: 0;
	width: 980px;
	margin: 0 auto;
}
.rainbow-layer .rainbow1 {
	position: absolute;
	left: 692px;
    height: 110px;
}
.rainbow-layer .rainbow2 {
	position: absolute;
	top: 60px;
	left: 30px;
    width: 662px;
}
.rainbow-layer .rainbow3 {
	position: absolute;
	top: 0px;
	left: 30px;
    height: 1000px;
    overflow: hidden;
}
#intro .rainbow-layer .rainbow3 {
	top: 110px;
}

#fifth .rainbow-layer .rainbow2 {
	top: 382px;
	left: 80px;
	width: 735px;
}

#fifth .rainbow-layer .rainbow3 {
	height: auto;
}

#fifth .rainbow-layer .rainbow2 .beam {
	float: left;
	background-image: url(../img/rainbow_beam_shade_l.png);
	background-position: left top;
}

.rainbow-layer .rainbow1 .beam {
	float: right;
}
.rainbow-layer .rainbow2 .beam {
	float: right;
	clear: both;
	background-image: url(../img/rainbow_beam_shade_r.png);
	background-position: right top;
}
#intro .rainbow-layer .rainbow3 .beam {
	background-image: url(../img/rainbow_beam_shade_t.png);
	background-position: left top;
}

.beam {
	background-repeat: no-repeat;
}

.vert .beam {
	position: relative;
	top: -1px;
    height: 1px;
    width: 5px;
    float: left;
}
.horz .beam {
    height: 5px;
    width: 0px;
}
.corner {
	position: absolute;
	z-index: 200;
}
.horz .corner {
	top: 0;
	left: 0;
}
.vert .corner {
	right: 0;
	bottom: 0;
}
.magenta { background-color: #b93294; }
.green { background-color: #7bc143; }
.yellow { background-color: #efea12; }
.red { background-color: #f16250; }
.lt-green { background-color: #ecf1b4; }
.blue { background-color: #1fa2dc; }
.orange { background-color: #f68933; }
.gold { background-color: #ffca0b; }
.lt-blue { background-color: #7ed1f4; }
.dk-green { background-color: #19ab4b; }

​